<form method="post" action="" class="block">
  <div class="field is-grouped">
    <div class="control">
      <input class="input {{#if error.email}}is-danger{{/if}}" name="email" type="text" placeholder="Email" />
      {{#if error.email}}
      <p class="help is-danger">
        {{#each error.email}}
          {{this}}
        {{/each}}
      </p>
      {{/if}}
    </div>
    <div class="control">
      <input
        class="input"
        name="password"
        type="password"
        placeholder="Password"
      />
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Login</button>
    </div>
  </div>
</form>