<form method="post" action="" class="block">
  <div class="field is-grouped">
    <div class="control">
      <input class="input {{#if error.email}}is-danger{{/if}}" name="email" type="text" placeholder="Email" />
      {{#each error.email}}
        <p class="help is-danger">
          {{this}}
        </p>
      {{/each}}
    </div>
    <div class="control">
      <input
        class="input {{#if error.password}}is-danger{{/if}}"
        name="password"
        type="password"
        placeholder="Password"
      />
      {{#each error.password}}
        <p class="help is-danger">
          {{this}}
        </p>
      {{/each}}
    </div>
    <div class="control">
      <button class="button is-primary" type="submit">Login</button>
    </div>
  </div>
</form>