<footer class="footer mt-6">
  <div class="content has-text-centered">
    <span class="icon-text">
      <a>
        <span class="icon">
          <i class="fa-brands fa-github"></i>
        </span>
        Github
      </a>
    </span>
  </div>
</footer>