<form class="field has-addons">
  <p class="control">
    <span class="select">
      <select>
        <option>He</option>
        <option>She</option>
        <option>They</option>
      </select>
    </span>
  </p>
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Username" />
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
  <p class="control has-icons-left">
    <input class="input" type="text" placeholder="Email" />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
  <p class="control">
    <a class="button is-primary">Add</a>
  </p>
</form>