<form class="field has-addons" method="post" action="">
  <p class="control">
    <span class="select">
      <select name="pronouns">
        <option>He</option>
        <option>She</option>
        <option>They</option>
      </select>
    </span>
  </p>
  <p class="control has-icons-left">
    <input class="input" type="text" name="username" placeholder="Username" />
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
  </p>
  <p class="control has-icons-left">
    <input class="input" type="text" name="email" placeholder="Email" />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
  <p class="control">
    <button class="button is-primary" type="submit">Add</button>
  </p>
</form>