<div class="block">
  {{> header}}
</div>

<p class="subtitle is-2">Add User</p>

<div class="block">
  {{> form }}
</div>

<p class="subtitle is-2">Users table</p>

<div class="block">
  {{> table }}
</div>